*{
margin: 0;
padding:0 ;
}
body{font-family: Arial, Helvetica, sans-serif;}
    header {background-color: rgb(165, 24, 24);
color: black;
display: flex;
justify-content: space-around;
padding: 24px 0;}
.cabecalho-imagem{width: 20%;}
h1 {
    margin: 0 16px;
    padding: 100px 0;
    font-size: 40px;}
    li {
        display: inline-block;
        margin: 0 17px;
        padding: 25px 0;
        font-size: 26px;}
        .escola-imagem{
            width: 80%;
        }
    .escola {
        background-image: linear-gradient(rgb(165, 24, 24),rgb(10, 3, 3));
     color:white;
     display:flex ;
     justify-content: center;
align-items: center;
  padding: 24px 0; }

   .escola-conteudo
   {width: 50%;}

     .escola-titulo
     {padding: 50px 30px; }


    .aluno-um {
        width: 25%;   
    }
.estudante-titulo
{
text-align: center;    
padding: 50px 0;
font-size: 30px;
}